footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 90px 235px 115px;
  background: #192431;
  font-size: 12px;
  color: #ffffff; }
  footer .box {
    width: 400px; }
    footer .box h6 {
      padding-bottom: 20px;
      color: #ffffff; }
    footer .box p {
      padding-bottom: 50px;
      line-height: 1.5; }
    footer .box .link-box {
      display: flex;
      justify-content: space-between; }
      footer .box .link-box ul {
        margin-top: 15px; }
        footer .box .link-box ul li {
          padding: 2px 0; }
          footer .box .link-box ul li a {
            text-decoration: none;
            color: #ffffff; }
            footer .box .link-box ul li a:hover {
              text-decoration: underline; }
    footer .box input {
      width: 300px;
      padding: 15px 10px; }

@media screen and (min-width: 767px) and (max-width: 991px) {
  footer {
    padding: 50px 100px !important; } }

@media screen and (min-width: 400px) and (max-width: 767px) {
  footer {
    padding: 20px;
    justify-content: center; } }
