#green-white {
  width: 100%; }
  #green-white .green {
    padding: 100px 235px 125px;
    background: #82ca9c; }
    #green-white .green h2 {
      padding-bottom: 60px;
      font-size: 26px;
      color: #ffffff; }
    #green-white .green .row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      #green-white .green .row .box {
        width: 275px;
        font-size: 12px;
        color: #ffffff; }
        #green-white .green .row .box h5 {
          font-weight: bold; }
        #green-white .green .row .box p {
          padding: 20px 0;
          line-height: 1.5; }
  #green-white .white {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 235px 110px; }
    #green-white .white .box {
      width: 430px;
      padding: 40px 45px;
      transition: all .7s ease;
      cursor: pointer; }
      #green-white .white .box a {
        padding: 5px;
        font-size: 9px;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        background: #e1e1e1;
        border-radius: 3px; }
      #green-white .white .box h2 {
        padding: 15px 0;
        font-size: 22px;
        font-weight: bold;
        transition: all 0.7s ease; }
      #green-white .white .box p {
        padding: 20px 0;
        font-size: 12px;
        line-height: 1.5;
        color: #8297a7; }
      #green-white .white .box .buy {
        padding: 10px 20px;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        background: #82ca9c; }
      #green-white .white .box .brend {
        margin-top: 30px; }
        #green-white .white .box .brend ul li {
          display: inline-block;
          margin-left: 5px;
          cursor: pointer; }
      #green-white .white .box:hover {
        box-shadow: 0 0 15px 10px #ABABAB; }
        #green-white .white .box:hover h2 {
          font-weight: normal; }
        #green-white .white .box:hover .f {
          background: #bd8cbf; }

@media screen and (min-width: 992px) and (max-width: 1350px) {
  #green-white .green {
    padding: 100px !important;
    text-align: center; }
    #green-white .green .row {
      justify-content: center; }
    #green-white .green .box {
      width: 600px !important; }
  #green-white .white {
    padding: 80px 100px;
    justify-content: center; }
    #green-white .white .box {
      width: 600px; } }

@media screen and (min-width: 767px) and (max-width: 991px) {
  #green-white .green {
    padding: 100px;
    text-align: center; }
    #green-white .green .row {
      justify-content: center !important; }
    #green-white .green .box {
      width: 600px !important; }
  #green-white .white {
    padding: 80px 100px;
    justify-content: center; }
    #green-white .white .box {
      width: 600px; } }

@media screen and (min-width: 400px) and (max-width: 767px) {
  #green-white .green {
    padding: 50px !important; }
    #green-white .green .row {
      justify-content: center !important; }
    #green-white .green .box {
      width: 100%; }
  #green-white .white {
    padding: 80px 50px;
    justify-content: center; }
    #green-white .white .box {
      width: 100%; } }
