#white-section {
  box-sizing: border-box;
  width: 100%;
  padding: 200px 235px 120px 235px;
  background: #ffffff; }
  #white-section h2 {
    font-size: 26px;
    color: #000000; }
  #white-section .iphone {
    position: absolute;
    top: -400px;
    right: 50px;
    width: 400px;
    height: 650px; }
    #white-section .iphone img {
      max-width: 400px;
      max-height: 650px; }
  #white-section .something {
    display: flex;
    justify-content: space-between; }
    #white-section .something .box {
      width: 430px;
      position: relative;
      padding: 10px;
      box-sizing: border-box; }
      #white-section .something .box .pt {
        padding-top: 120px; }
      #white-section .something .box p {
        padding-top: 20px;
        line-height: 1.2;
        color: #b1b1b1; }
  #white-section .grid {
    padding-top: 50px; }
    #white-section .grid .row {
      display: flex;
      flex-wrap: wrap;
      color: #ffffff; }
      #white-section .grid .row h3 {
        font-size: 16px; }
      #white-section .grid .row p {
        padding: 20px 0;
        font-size: 12px;
        line-height: 1.5; }
      #white-section .grid .row a {
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none; }
        #white-section .grid .row a:hover {
          text-decoration: underline; }
        #white-section .grid .row a img {
          display: inline-block;
          padding-left: 5px; }
      #white-section .grid .row .small-box {
        width: 25%;
        padding: 35px 30px;
        transition: all 0.7s ease;
        cursor: pointer; }
        #white-section .grid .row .small-box:nth-child(1) {
          background: #f5989d; }
        #white-section .grid .row .small-box:nth-child(2) {
          background: #615f7d; }
        #white-section .grid .row .small-box:nth-child(3) {
          background: url(/img/Layer6.png);
          background-size: cover; }
        #white-section .grid .row .small-box:nth-child(4) {
          background: #bd8cbf; }
        #white-section .grid .row .small-box:hover {
          transform: scale(1.2); }
      #white-section .grid .row .bg {
        background: url(/img/Layer14.png) no-repeat !important;
        background-size: cover !important; }
    #white-section .grid .big-box {
      width: 50%;
      padding: 35px 30px;
      background: url(/img/Layer5.png);
      background-size: cover;
      transition: all 0.7s ease;
      cursor: pointer; }
      #white-section .grid .big-box:hover {
        transform: scale(1.2); }
  #white-section .details {
    padding-top: 70px; }
    #white-section .details h2 {
      padding-bottom: 40px;
      font-size: 26px;
      color: #000000; }
    #white-section .details .row {
      display: flex;
      justify-content: space-between; }
      #white-section .details .row .box {
        width: 215px;
        padding: 10px;
        box-sizing: border-box;
        color: #959595; }
        #white-section .details .row .box h4 {
          padding-top: 10px;
          font-size: 12px;
          font-weight: bold; }
        #white-section .details .row .box p {
          padding-top: 20px;
          font-size: 12px;
          line-height: 1.5; }

@media screen and (min-width: 992px) and (max-width: 1150px) {
  #white-section {
    padding: 100px !important; }
    #white-section .small-box {
      width: 50% !important; }
    #white-section .big-box {
      width: 100% !important; }
    #white-section .box {
      width: 50% !important;
      padding: 10px !important; } }

@media screen and (min-width: 767px) and (max-width: 991px) {
  #white-section {
    padding: 100px !important; }
    #white-section .row {
      flex-wrap: wrap; }
    #white-section .small-box {
      width: 100% !important; }
    #white-section .big-box {
      width: 100% !important; }
    #white-section .box {
      width: 50% !important;
      padding: 10px !important; } }

@media screen and (min-width: 400px) and (max-width: 767px) {
  #white-section {
    padding: 50px !important; }
    #white-section .small-box {
      width: 100% !important; }
    #white-section .big-box {
      width: 100% !important; }
    #white-section .box {
      width: 50% !important;
      padding: 10px !important; }
    #white-section .something {
      flex-wrap: wrap; }
      #white-section .something .box {
        width: 100% !important; }
        #white-section .something .box .pt {
          padding-top: 500px; }
    #white-section .iphone {
      top: 0; }
    #white-section .details .row {
      flex-wrap: wrap !important; } }
